body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("/images/default-art-background.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: ivory;
    font-size: 24px;
}
h2 {
    color: #555;
    font-size: 20px;
}
p {
    color: #666;
}

/* Styling that applies to all block sections */
.col {
    /*border: 1px solid green;*/
}
#timeAndDate {
    display: flex;
    flex-direction: column;
}
#ourDate {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: clamp(1.2rem, 3vw, 2.5rem);
    color: ivory;
}
#ourTime {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: clamp(2rem, 10vw, 7rem);
    color: ivory;
}
#forecast {
    display: flex;
}
